.content {
  flex-basis: 80%;
  height: auto;
  display: flex;
  flex-direction: column;

  @media screen and (min-width: 0px) and (max-width: 550px) {
    flex-basis: 100%;
  }

  &__info {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 5.5rem;
    background-color: $color-light;
    width: 100%;

    @media screen and (min-width: 0px) and (max-width: 550px) {
      height: 6rem;
    }

    &_hotelname {
      display: flex;
      align-items: center;
      margin: 0 2rem;
      align-self: stretch;

      @media screen and (min-width: 0px) and (max-width: 550px) {
        flex-basis: 70%;
      }

      &_name {
        text-transform: uppercase;
        color: $color-light-gray;
        font-size: 1rem;
        font-weight: 300;

        @media screen and (min-width: 0px) and (max-width: 550px) {
          font-size: 0.7rem;
        }
      }

      &_stars {
        margin-left: 3rem;

        @media screen and (min-width: 0px) and (max-width: 550px) {
          margin-left: 2rem;
        }
        & i {
          margin-right: 0.3rem;
          font-size: 1.2rem;
          color: $color-primary;
        }
      }
    }

    &_location {
      display: flex;
      align-items: center;
      align-self: stretch;

      &_name {
        color: $color-primary;
        text-decoration: underline;
        font-size: 1.2rem;
        text-transform: capitalize;
        margin-right: 4rem;
        text-align: center;

        @media screen and (min-width: 0px) and (max-width: 550px) {
          margin-right: 0rem;
        }
      }

      &_votes {
        display: flex;
        align-self: stretch;
        align-items: center;
        flex-direction: column;
        background-color: $color-primary;
        width: 8rem;
        color: $color-light;

        & span:first-child {
          font-size: 1.8rem;
        }
      }
    }
  }

  &__bookings {
    width: 100%;
    background-color: $color-light;
    padding: 2.5rem 2.5rem 0 2.5rem;

    &_info {
      width: 100%;
      color: $color-light-gray;
      text-align: center;
      text-transform: uppercase;
      font-size: 1.7rem;
    }

    &_buttoncontainer {
      width: 30%;
      margin: auto;

      &_button {
        position: relative;
        overflow: hidden;
        width: 100%;
        border-radius: 1.8rem;
        height: 4rem;
        margin-top: 2rem;
        background-image: linear-gradient(
          to left,
          $color-primary,
          rgba($color-primary, 0.8)
        );

        & span {
          display: block;
          font-size: 1.4rem;
          height: 100%;
          padding: 1rem;
          color: $color-light;
        }

        &_booknow {
          transition: all 0.2s;
        }
        &_rooms {
          transition: all 0.2s;
        }
        &:hover &_booknow {
          transform: translateY(-4rem);
        }
        &:hover &_rooms {
          transform: translateY(-4rem);
        }
      }
    }
  }
}
