.content__gallery {
  position: relative;
  display: flex;
  min-width: 100%;
  height: 18rem;
  overflow-x: auto;

  @media screen and (min-width: 0px) and (max-width: 414px) {
    height: auto;
    flex-direction: column;
  }

  @media screen and (min-width: 415px) and (max-width: 768px) {
    height: 14rem;
  }

  &_picturecontainer {
    flex-shrink: 0;
    flex-basis: 33.33%;

    @media screen and (min-width: 0px) and (max-width: 414px) {
      flex-basis: auto;
    }

    @media screen and (min-width: 415px) and (max-width: 768px) {
      flex-grow: 1;
    }

    & figure {
      width: 100%;
      height: 100%;
      overflow: hidden;

      & img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}
