* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth; }

*,
*::after,
*::before {
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  box-sizing: border-box; }
  @media screen and (min-width: 0px) and (max-width: 767px) {
    html {
      font-size: 58.5%; } }

body {
  font-family: "Poppins", sans-serif;
  background-image: linear-gradient(to bottom, #1b664d, rgba(27, 102, 77, 0.8));
  line-height: 1.8;
  min-height: 100vh; }

p {
  font-size: 1.2rem;
  color: #4b4b4b !important; }

ul {
  list-style: none; }

a:link {
  text-decoration: none; }

input,
textarea,
select {
  outline: none;
  color: #4b4b4b;
  border: none;
  font-family: "Poppins", sans-serif; }

::placeholder {
  color: #afafaf;
  font-family: "Poppins", sans-serif; }

button {
  outline: none;
  border: none;
  cursor: pointer; }

.container {
  width: 80%;
  margin: 7rem auto;
  position: relative;
  box-shadow: 0 2rem 6rem rgba(0, 0, 0, 0.3); }
  @media screen and (min-width: 0px) and (max-width: 1024px) {
    .container {
      width: 100%;
      margin: 0;
      box-shadow: none; } }

.view {
  width: 100%;
  display: flex;
  background-color: #f1f1f1; }
  @media screen and (min-width: 0px) and (max-width: 768px) {
    .view {
      flex-direction: column; } }

.header {
  position: relative;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 6rem; }
  @media screen and (min-width: 0px) and (max-width: 550px) {
    .header {
      flex-wrap: wrap;
      height: auto;
      padding: 0 0rem;
      padding-bottom: 2rem; } }
  .header__logo {
    padding: 0 2rem; }
    .header__logo h1 a {
      color: #1b664d; }
  @media screen and (min-width: 0px) and (max-width: 550px) {
    .header__form {
      order: 1;
      flex-grow: 1; } }
  .header__form_form {
    display: flex; }
    .header__form_form_input {
      background-color: #f1f1f1;
      width: 25rem;
      padding: 0.5rem 2rem;
      border-radius: 1.8rem;
      transition: all 0.2s ease-out; }
      @media screen and (min-width: 0px) and (max-width: 550px) {
        .header__form_form_input {
          width: 100%;
          border-radius: 0rem; } }
      .header__form_form_input:focus {
        width: 30rem; }
        @media screen and (min-width: 0px) and (max-width: 550px) {
          .header__form_form_input:focus {
            width: 100%; } }
    .header__form_form_button {
      background-color: transparent;
      margin-left: -2.5rem; }
  .header__nav {
    display: flex;
    flex-basis: 15%;
    align-self: stretch; }
    .header__nav > span {
      position: relative;
      flex-grow: 1;
      padding: 2rem;
      align-items: center;
      display: flex;
      text-align: center;
      transition: all 0.2s ease-out; }
      .header__nav > span:hover {
        background-color: #f1f1f1;
        cursor: pointer; }
    .header__nav_circle {
      background: #1b664d;
      color: #fff;
      position: absolute;
      width: 2rem;
      height: 2rem;
      top: 15%;
      right: 15%;
      border-radius: 50%;
      font-size: 1rem; }
      @media screen and (min-width: 0px) and (max-width: 550px) {
        .header__nav_circle {
          top: 22%;
          right: 22%; } }
    .header__nav_notifications {
      font-size: 1.5rem;
      color: #afafaf; }
    .header__nav_message {
      font-size: 1.5rem;
      color: #afafaf; }
    .header__nav_avatar {
      display: flex;
      align-items: center;
      justify-content: space-between; }
      .header__nav_avatar figure {
        width: 4.5rem;
        height: 4.5rem;
        object-fit: cover;
        border-radius: 50%;
        overflow: hidden; }
        .header__nav_avatar figure img {
          width: 100%;
          height: 100%; }
      .header__nav_avatar p {
        margin-left: 1rem; }

.sidenav {
  flex-basis: 20%;
  height: auto;
  background-color: #181818;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }
  .sidenav__links {
    position: relative; }
    .sidenav__links_ul {
      display: flex;
      flex-direction: column;
      margin-top: 4rem; }
      @media screen and (min-width: 0px) and (max-width: 768px) {
        .sidenav__links_ul {
          flex-direction: row;
          margin: 0; } }
      .sidenav__links_ul a {
        width: 100%;
        height: auto;
        margin-bottom: 0.5rem; }
        @media screen and (min-width: 0px) and (max-width: 768px) {
          .sidenav__links_ul a {
            flex-grow: 1;
            margin: 0;
            width: 25%; } }
        .sidenav__links_ul a li {
          position: relative;
          display: flex;
          align-items: center;
          padding: 1rem 1rem 1rem 3rem;
          height: 4.5rem;
          color: #fff;
          font-size: 1.2rem;
          text-transform: uppercase;
          z-index: 2;
          overflow: hidden; }
          @media screen and (min-width: 0px) and (max-width: 768px) {
            .sidenav__links_ul a li {
              height: 6.5rem;
              justify-content: center;
              flex-direction: column;
              text-align: center;
              padding: 0; } }
          .sidenav__links_ul a li i {
            margin-right: 2rem; }
            @media screen and (min-width: 0px) and (max-width: 768px) {
              .sidenav__links_ul a li i {
                display: block; } }
          .sidenav__links_ul a li::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 0%;
            height: 0%;
            background: #1b664d;
            z-index: -1;
            transition: width 0.2s, height 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275); }
        .sidenav__links_ul a:hover li::after {
          width: 100%;
          height: 100%;
          transform: scale(1); }
      .sidenav__links_ul_first {
        background: #1b664d; }
  .sidenav__footer {
    text-align: center;
    padding: 1.5rem 2.5rem; }
    .sidenav__footer p {
      color: #fff !important; }
    @media screen and (min-width: 0px) and (max-width: 768px) {
      .sidenav__footer {
        display: none; } }

.content__gallery {
  position: relative;
  display: flex;
  min-width: 100%;
  height: 18rem;
  overflow-x: auto; }
  @media screen and (min-width: 0px) and (max-width: 414px) {
    .content__gallery {
      height: auto;
      flex-direction: column; } }
  @media screen and (min-width: 415px) and (max-width: 768px) {
    .content__gallery {
      height: 14rem; } }
  .content__gallery_picturecontainer {
    flex-shrink: 0;
    flex-basis: 33.3%; }
    @media screen and (min-width: 0px) and (max-width: 414px) {
      .content__gallery_picturecontainer {
        flex-basis: auto; } }
    @media screen and (min-width: 415px) and (max-width: 768px) {
      .content__gallery_picturecontainer {
        flex-grow: 1; } }
    .content__gallery_picturecontainer figure {
      width: 100%;
      height: 100%;
      overflow: hidden; }
      .content__gallery_picturecontainer figure img {
        width: 100%;
        height: 100%;
        object-fit: cover; }

.content {
  flex-basis: 80%;
  height: auto;
  display: flex;
  flex-direction: column; }
  @media screen and (min-width: 0px) and (max-width: 550px) {
    .content {
      flex-basis: 100%; } }
  .content__info {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 5.5rem;
    background-color: #fff;
    width: 100%; }
    @media screen and (min-width: 0px) and (max-width: 550px) {
      .content__info {
        height: 6rem; } }
    .content__info_hotelname {
      display: flex;
      align-items: center;
      margin: 0 2rem;
      align-self: stretch; }
      @media screen and (min-width: 0px) and (max-width: 550px) {
        .content__info_hotelname {
          flex-basis: 70%; } }
      .content__info_hotelname_name {
        text-transform: uppercase;
        color: #afafaf;
        font-size: 1rem;
        font-weight: 300; }
        @media screen and (min-width: 0px) and (max-width: 550px) {
          .content__info_hotelname_name {
            font-size: 0.7rem; } }
      .content__info_hotelname_stars {
        margin-left: 3rem; }
        @media screen and (min-width: 0px) and (max-width: 550px) {
          .content__info_hotelname_stars {
            margin-left: 2rem; } }
        .content__info_hotelname_stars i {
          margin-right: 0.3rem;
          font-size: 1.2rem;
          color: #1b664d; }
    .content__info_location {
      display: flex;
      align-items: center;
      align-self: stretch; }
      .content__info_location_name {
        color: #1b664d;
        text-decoration: underline;
        font-size: 1.2rem;
        text-transform: capitalize;
        margin-right: 4rem;
        text-align: center; }
        @media screen and (min-width: 0px) and (max-width: 550px) {
          .content__info_location_name {
            margin-right: 0rem; } }
      .content__info_location_votes {
        display: flex;
        align-self: stretch;
        align-items: center;
        flex-direction: column;
        background-color: #1b664d;
        width: 8rem;
        color: #fff; }
        .content__info_location_votes span:first-child {
          font-size: 1.8rem; }
  .content__bookings {
    width: 100%;
    background-color: #fff;
    padding: 2.5rem 2.5rem 2.5rem 2.5rem; }
    .content__bookings_info {
      width: 100%;
      color: #afafaf;
      text-align: center;
      text-transform: uppercase;
      font-size: 1.7rem; }
    .content__bookings_buttoncontainer {
      width: 30%;
      margin: auto; }
      .content__bookings_buttoncontainer_button {
        position: relative;
        overflow: hidden;
        width: 100%;
        border-radius: 1.8rem;
        height: 4rem;
        margin-top: 2rem;
        background-image: linear-gradient(to left, #1b664d, rgba(27, 102, 77, 0.8)); }
        .content__bookings_buttoncontainer_button span {
          display: block;
          font-size: 1.4rem;
          height: 100%;
          padding: 1rem;
          color: #fff; }
        .content__bookings_buttoncontainer_button_booknow {
          transition: all 0.2s; }
        .content__bookings_buttoncontainer_button_rooms {
          transition: all 0.2s; }
        .content__bookings_buttoncontainer_button:hover .content__bookings_buttoncontainer_button_booknow {
          transform: translateY(-4rem); }
        .content__bookings_buttoncontainer_button:hover .content__bookings_buttoncontainer_button_rooms {
          transform: translateY(-4rem); }

.content__content {
  background-color: #f1f1f1;
  display: flex;
  align-items: flex-start;
  width: 100%;
  height: auto; }
  @media screen and (min-width: 0px) and (max-width: 550px) {
    .content__content {
      flex-direction: column; } }
  @media screen and (min-width: 551px) and (max-width: 767px) {
    .content__content {
      flex-direction: column;
      width: 80%;
      margin: auto; } }
  .content__content_about {
    flex-basis: 60%;
    display: flex;
    flex-direction: column;
    background: #fff;
    margin: 2rem;
    padding: 2rem;
    box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.06); }
    .content__content_about div:not(:last-child) {
      border-bottom: 1px solid #e6e6e6;
      padding: 1.5rem 0; }
    .content__content_about_list {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      font-size: 1.2rem;
      font-size: 1.2rem;
      color: #4b4b4b;
      padding-right: 13rem !important; }
      @media screen and (min-width: 0px) and (max-width: 414px) {
        .content__content_about_list {
          padding-right: 0rem !important; } }
      @media screen and (min-width: 415px) and (max-width: 1124px) {
        .content__content_about_list {
          padding-right: 1rem !important; } }
      @media screen and (min-width: 1125px) {
        .content__content_about_list {
          padding-right: 6rem !important; } }
      .content__content_about_list ul li {
        list-style: square inside; }
    .content__content_about_friends {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 2rem 0 1rem 0; }
      .content__content_about_friends_info {
        flex-basis: 70%; }
      .content__content_about_friends_pictures {
        display: flex;
        align-items: center;
        flex-basis: 30%; }
        .content__content_about_friends_pictures figure {
          width: 4rem;
          height: 4rem;
          border-radius: 50%;
          overflow: hidden;
          border: 2px solid #fff;
          margin-right: -1rem; }
          .content__content_about_friends_pictures figure img {
            object-fit: cover;
            width: 100%;
            height: 100%; }
  .content__content_testimonies {
    position: relative;
    flex-basis: 40%;
    display: flex;
    flex-direction: column;
    align-items: center; }
    .content__content_testimonies div {
      margin-bottom: 0.2rem; }
    .content__content_testimonies_testify {
      position: relative;
      display: flex;
      flex-direction: column;
      background: #fff;
      margin: 2rem;
      padding: 2rem;
      z-index: 2;
      overflow: hidden;
      box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.06); }
      .content__content_testimonies_testify::before {
        content: "\201c";
        position: absolute;
        top: 7.5rem;
        left: -1rem;
        line-height: 1rem;
        font-size: 20rem;
        color: #e6e6e6;
        font-family: "Poppins", sans-serif;
        z-index: -1; }
      .content__content_testimonies_testify_text {
        margin-bottom: 1rem !important; }
      .content__content_testimonies_testify_info {
        display: flex;
        align-items: center;
        justify-content: space-between; }
        .content__content_testimonies_testify_info_picture {
          display: flex;
          align-items: center; }
          .content__content_testimonies_testify_info_picture figure {
            width: 4rem;
            height: 4rem;
            border-radius: 50%;
            overflow: hidden;
            margin-right: 1rem; }
            .content__content_testimonies_testify_info_picture figure img {
              object-fit: cover;
              width: 100%;
              height: 100%; }
          .content__content_testimonies_testify_info_picture_name {
            display: flex;
            flex-direction: column; }
            .content__content_testimonies_testify_info_picture_name :first-child {
              text-transform: uppercase;
              font-weight: bold; }
        .content__content_testimonies_testify_info_stat {
          font-size: 1.8rem;
          color: #1b664d; }
    .content__content_testimonies_showall {
      margin: 1rem;
      padding: 2rem; }
      .content__content_testimonies_showall a {
        color: #1b664d;
        font-size: 1.2rem;
        text-decoration: underline;
        font-weight: bold; }
